//
//  Secrets.xcconfig.example
//  Swish
//
//  SETUP INSTRUCTIONS:
//  1. Rename this file: Secrets.xcconfig
//  2. My secret API key: aef2e092-560d-4ab9-9a11-88b02f375360
//  3. Replace YOUR_API_KEY_HERE with actual key
//

// API Key
BALLDONTLIE_API_KEY = YOUR_API_KEY_HERE

// Base URL
BALLDONTLIE_BASE_URL = https:/$()/api.balldontlie.io/v1
