//
//  Secrets.xcconfig.example
//  Swish
//
//  xcconfig ფაილი დამალული მაქვს გიტიდან ჩემი api key დაცვის მიზნით, ალტერნატივად მაქვს ეს ფაილი შექმნილი და შემდეგი ინსტრუქციების გაკეთების შემთხვევაში გაბილდავთ პროექტს:
//
//  1. შეუცვალეთ ფაილს სახელი და დაარქვით: Secrets.xcconfig
//  2. შეცვალეთ YOUR_API_KEY_HERE ჩემი პირადი გასაღებით: aef2e092-560d-4ab9-9a11-88b02f375360
//

// API Key
BALLDONTLIE_API_KEY = YOUR_API_KEY_HERE

// Base URL
BALLDONTLIE_BASE_URL = https:/$()/api.balldontlie.io/v1
