//
//  Secrets.xcconfig
//  Swish
//
//  Created by Bacho on 17.01.26.
//

//  xcconfig ფაილი დამალული მქონდა git-დან ჩემი ინდივიდუალური გასაღების და ურლ-ს დასაცავად, თუმცა მარტივად გატესტვის მიზნით კვლავ ვამატებ git-ში და პროექტს თან ექნება მიბმული

// API Key
BALLDONTLIE_API_KEY = aef2e092-560d-4ab9-9a11-88b02f375360

// Base URL
BALLDONTLIE_BASE_URL = https:/$()/api.balldontlie.io/v1

// News URL

ESPN_NEWS_URL = https:/$()/site.api.espn.com/apis/site/v2/sports/basketball/nba/news
